header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background: white;
    
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    
    width: 100vw;
    
    padding: 1rem 8rem;
    
}

header nav {

    background: white;

}

header nav ul {

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 300px;

}

header nav ul a li {

    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: 300;

    color: black;

    text-align: center;

    border-bottom: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);

    width: 90px;

    padding: 0.5rem 0;

    transition: 0.2s;

}

header nav ul a li:hover {

    background: #C95E20;
    color: white;

}

#inputCheckBox,
label {

    display: none;

}

label {

    display: none;
    align-items: center;
    justify-content: center;
    
    font-size: 1.5rem;
    
    border: 1px solid white;
    border-radius: 5px;

    width: 35px;
    height: 35px;
    
    margin-top: 1rem;

    transition: 0.2s;

    cursor: pointer;

}

@media(max-width: 800px) {

    label {

        display: flex;

    }

    label:hover {

        color: #C95E20;

        border: 1px solid;

    }

    #inputCheckBox:checked ~ nav {

        left: 0;

    }

    header {

        background: white;

        flex-direction: column;

        position: fixed;
        top: 0;
        
        z-index: 3;

    }

    header nav {

        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
        
        width: 100vw;
        
        padding: 0;
        
        position: absolute;
        top: 125px;
        left: -100vw;

        transition: 0.5s;

    }

    header nav ul {

        display: flex;
        align-items: center;
        justify-content: space-between;

        flex-direction: column;
        
        width: 100vw;

    }

    header nav ul a li {

        width: 100vw;

        border: 0;
        border-radius: 0;
        box-shadow: none;

    }

}
